/* Body background to hold the faded background */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Assets/img1.jpg);
}

.container {
    background: #0009;
    backdrop-filter: blur(100px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: opacity 1s ease-in-out;
    /* Fade effect */
    opacity: 1;
}

.slider-container {
    width: 60%;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
    /* Smooth transition for slide */
    width: 100%;
}

.slider img {
    width: 100%;
    /* Each image fills the container */
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
}

.arrow-left {
    left: 50px;
}

.arrow-right {
    right: 50px;
}